@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
  height: 100%;
  width: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: #dddddd;
  height: 100%;
  width: 100%;
}
@font-face {
  font-family: benzin-semi;
  src: url(/fonts/Benzin-Medium.ttf);
}
.benzin-semi {
  font-family: benzin-semi;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.mask {
  position: absolute;
  mask-image: url("/mask.svg");
  background: #212121;
  mask-repeat: no-repeat;
  mask-size: 40px;
  color: white;
  z-index: 10;
}
